wp-admin/
wp-*.php
/index.php
/wp-content/index.php
xmlrpc.php
wp-content/upgrade/
wp-content/uploads/
wp-content/themes/*
wp-content/plugins/*
wp-includes/
wp-content/Languages/*.*
wp-content/Languages/*/*
*.log
sitemap.xml
sitemap.xml.gz
.htaccess
license.txt
readme.html
wp-config.php
me.loc.code-workspace
!wp-content/plugins/shortcode-mk/
!wp-content/Languages/**/shortcode-mk*